body{
                margin: 0;
                padding: 0;
                height: 100vh;
            }
            header{
                display: flex;
                background-color: #333;
                padding: 10px;
                color: orange;
            }
            header img{
                width: 50px;
                height: 50px;
                padding-left: 15px;
            }
            header p{
                font: 20px;
                margin-left: auto;
                padding-right: 15px;
            }
            nav{
                display: flex;
                background-color: #65B789;
                padding: 10px;
                align-items: center;
                position: -webkit-sticky;
                position: sticky;
                top: 10px;
            }
            nav a{
                text-decoration: none;
                color: black;
                font-size: large;
                padding: 0 10px;
                margin: 0 15px;
                position: relative;    
                overflow: hidden;
            }
            nav a:hover{
                color: #fff;
            }
            nav a::before{
                content: '';
                position: absolute;
                bottom: -10px;
                left: 0;
                width: 0%;
                height: 2px;
                background-color: red;
                    
            }
            nav a:hover::before{ 
                width: 100%;
            }
            .novel{
                text-align: justify;
                margin: 30px;
                padding: 5px;
            }
            footer{
                padding: 20px;
            }
            .novel b,li{
                font-size: 20px;
            }
            .novel p{
                font-size: 20px;
            }
            footer{
            padding: 20px;
            }